/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin'; // Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900); // Mixin for include fonts
@include font-face("ArialMT", 'fonts/CenturyGothic', normal, normal);
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/icons';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';

@import 'components/page';
@import 'components/aside';
@import 'components/submenu';
@import 'components/childList';
@import 'components/collapseAll';
@import 'components/collapseList';
@import 'components/asideRight';
@import 'components/subjectList';
@import 'components/skipedList';
@import 'components/author';
@import 'components/exercise';
@import 'components/startTask';
@import 'components/taskBox';
@import 'components/dateSwicher';

.rezultTable {
    width: 100%;
    margin: 0.8em 0 1.9em;

    &__col {
        padding: 0.55em 1.15em;
        font-size: 1.12em;

        &:nth-child(n+2) {
            width: 50%;
        }

        &:first-child {
            flex: none;
            overflow: hidden;
            // width: 2.3em;
            padding-right: 0;
        }
    }

    &__head {
        background: #F3F3F3;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.265;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: left;
        color: #888888;

        .rezultTable {
            &__row {
                margin-bottom: 0.6em;
            }

            &__col {
                font-size: 0.875em;
                padding: 0.85em 1.25em;

                &:first-child {
                    // width: 1.8em;
                    padding-right: 0;
                }
            }
        }

    }

    &__body {
        .rezultTable {
            &__row {
                background: $color_withe;
                box-shadow: 0 0.0625em 0.9375em rgba(0, 0, 0, 0.08);
            }
        }
    }

    &__row {
        margin-bottom: 0.3125em;
        display: flex;
    }
}

.whiteBox {
    background: $color_withe;
    box-shadow: 0 1.5625em 2.8125em -1.9375em rgba(0, 0, 0, 0.1);
    padding: 1.875em 1.875em 2.5em;
    margin-bottom: 2.125em;
}

.rezultList {
    columns: 2;
    max-width: 75.75em;

    &__row {
        display: flex;
        margin-bottom: 0.4375em;
    }

    &__label {
        color: #5B6271;
        width: 14.375em;
        flex: none;
    }

    &__prop {
        b {
            font-weight: 500;
        }

        .danger {
            font-weight: 600;
        }
    }

    &__back {
        max-width: 18.75em;
        margin-top: 1.6875em;

        .btn {
            width: 100%;
        }

    }

}

.whiteBox {}

.taskRezult {
    border: 1px solid #6BE861;

    &_error {
        border: 1px solid #FFB1C9;

        .taskRezult__bage {
            background: #FF004C;
        }
    }

    &__title {
        font-size: 1.25em;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bage {
        background: #FF004C;
        color: $color_withe;
        font-weight: 500;
        font-size: 0.75em;
        padding: 0.4375em 0.9375em;
    }

    &__list {
        margin: 0.6875em 0 2.125em;
        line-height: 1.1;
    }

    &__row {
        display: flex;
        align-items: center;
        opacity: 0.3;
        margin-bottom: 1em;

        &_checked {
            opacity: 1;
        }

        &_error {}
    }

    &__icon {
        width: 0.9375em;
        height: 0.9375em;
        background: #F3F3F3;
        border: 0.0625em solid #E3E3E3;
        box-sizing: border-box;
        border-radius: 0.9375em;
        margin-right: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 34%;
            color: $color_withe;
            line-height: 1;
        }

        &:not(:empty) {
            background: #FF004C;
        }
    }

    &__name {}

    &__footer {
        border-top: 0.0625em solid #F7F7F7;
        padding: 1.3125em 1.875em 0;
        margin: 0 -1.875em;
    }

    &__total {
        color: #2BBE1E;
        display: flex;
        align-items: center;

        i {
            width: 0.9375em;
            height: 0.9375em;
            background: #2BBE1E;
            border: 0.0625em solid #E3E3E3;
            box-sizing: border-box;
            border-radius: 0.9375em;
            margin-right: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;

            &:before {
                font-size: 34%;
                color: $color_withe;
                line-height: 1;
            }
        }

        &_error {
            color: #FF004C;

            i {
                background: #FF004C;
            }
        }
    }

    &__solution {
        margin-top: 0.5em;

        &Label {
            font-size: 0.9375em;
            font-weight: 500;
        }

        &Text {
            font-size: 0.9375em;
            color: #5B6271;
        }
    }

    .icon_close {
        font-weight: 600;
    }

    .icon_check {}
}
