/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin'; // Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900); // Mixin for include fonts
@include font-face("ArialMT", 'fonts/CenturyGothic', normal, normal);
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/icons';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';

.page {
    &__title {
        font-size: 1.5em;
        font-weight: 400;
        margin: 0 0 0.65em;
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
        gap: 1.75em;
    }

    &__body {
        min-width: 0;
        flex-grow: 1;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__aside {}

    &__bage {
        font-weight: normal;
        font-size: 0.67em;
        color: #888888;
        padding: 0.75em 0.9375em;
        background: #F3F3F3;
        margin-left: 1.25em;
        line-height: 1;
    }
}

.aside {
    flex: none;
    width: 18.75em;
    background: $color_withe;
    border-right: 0.125em solid #F7F7F7;

    &__head {
        border-bottom: 0.0625em solid #F7F7F7;
        height: 8.44em;
        display: flex;
        align-items: center;
        padding: 2.88em 3.75em 1.875em 3.95em;
    }

    &__nav {
        padding: 1.7em 0;
    }
}

.childList {
    position: relative;

    &.open {
        .childList {
            &__current {
                &:after {
                    transform: rotate(180deg);
                }
            }

            &__drop {
                display: block;
            }
        }
    }

    &__current {
        display: flex;
        align-items: center;
        padding-right: 1em;
        cursor: pointer;

        &:after {
            font-family: 'rsdo';
            content: $icon_caret_down;
            color: #1E59E1;
            font-size: 0.3em;
            margin-left: 0.4em;
        }
    }

    &__item {
        padding: 0.6875em 0.625em;
        font-size: 1em;
        line-height: 1.26;
        color: #1E59E1;
        text-decoration: none;
        background: $color_withe;
        display: block;

        i {
            font-size: 0.875em;
            margin-right: 0.5625em;
        }

        &.selected {
            color: #848994;

            i {
                color: #1E59E1;
            }
        }
    }

    &__drop {
        display: none;
        min-width: 100%;
        position: absolute;
        margin-top: 1.15em;
        z-index: 2;
        background: #FFFFFF;
        border: 0.0625em solid #F7F7F7;
        box-sizing: border-box;
        box-shadow: 0 1.5625em 2.8125em rgba(0, 0, 0, 0.05);

        .childList__item {
            &:nth-child(n+2) {
                border-top: 1px solid #F7F7F7;
            }

            &:hover:not(.selected) {
                background: #1E59E1;
                color: $color_withe;
            }
        }
    }

}

.submenu {
    list-style: none;
    margin: 2em 0 0;
    padding: 1.5em 0;
    border-top: 1px solid #F7F7F7;
    border-bottom: 1px solid #F7F7F7;

    &.open {
        background: rgba(#1E59E1, 0.04);
        border-color: rgba(#1E59E1, 0.04);
    }

    &__item {
        padding: 0 3.7em;
    }

    &__drop {
        display: none;

        .open & {
            display: block;
        }

        ul {
            list-style: none;
            padding: 0 0 0 1.8em;
            margin: 0;
        }

        li {}

        a {
            color: $main_color;
            padding: 0.4em 0.8em;
            display: inline-block;
            text-decoration: none;
            font-size: 0.9em;

            &:hover:not(.active) {
                color: #1E59E1;
            }

            &.active {
                color: $color_withe;
                background: #1E59E1;
            }
        }
    }

    &__curent {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        cursor: pointer;

        .open & {
            color: #1E59E1;
        }

        i {
            font-size: 0.875em;
            margin-right: 0.96em;
            color: #1E59E1;
        }

        &:after {
            font-family: 'rsdo';
            content: $icon_caret_down;
            font-size: 0.3em;
            margin-left: 1.3em;

            .open & {
                transform: rotate(180deg);
            }
        }
    }
}

.collapseAll {
    display: flex;
    margin-bottom: 1.66em;

    &__item {
        color: #1E59E1;
        line-height: 1.24;
        margin-right: 0.9em;
        cursor: pointer;

        &:after {
            content: '';
            display: block;
            border-bottom: 0.0625em dashed;
            transition: border 0.3s;
        }

        &:hover {
            &:after {
                border-bottom-color: transparent;
            }
        }

        &:nth-child(n+2) {
            border-left: 0.0625em solid #C9C9C9;
            padding-left: 0.9375em;
        }
    }

}

.collapseList {
    &__item {
        background: #FFFFFF;
        box-shadow: 0 0 0.4375em rgba(186, 186, 186, 0.1);
        margin-bottom: 1.5em;

        &.open {
            box-shadow: 0 1.5625em 2.8125em -1.9375em rgba(0, 0, 0, 0.1);

            .collapseList {
                &__head {
                    background: $color_primary;
                    color: $color_withe;

                    &:after {
                        transform: rotate(180deg);
                    }

                    &:hover {
                        .collapseList {
                            &__label {
                                color: $color_withe;
                            }

                            &__date {
                                color: $color_withe;
                            }
                        }
                    }
                }
            }
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5625em 1.25em;
        cursor: pointer;

        &:after {
            font-family: 'rsdo';
            content: $icon_caret_down;
            font-size: 0.49em;
            line-height: 1;
        }

        &:hover {
            .collapseList {
                &__label {
                    color: $color_primary;
                }

                &__date {
                    color: $color_primary;
                }
            }
        }

    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__label {
        flex: none;
        width: 16.7em;
        padding-right: 0.85em;
        font-size: 1.25em;
        line-height: 1.45;
        display: flex;
        align-items: center;

        &_short {
            width: auto;
        }
    }

    &__date {
        color: #5B6271;
        display: flex;
        align-items: center;

        .open & {
            color: $color_withe;
        }
    }

    &__body {
        padding: 1.25em;
        display: none;
    }

    &__bage {
        min-width: 1.92em;
        padding: 0.1em;
        height: 1.92em;
        background: #FF004C;
        color: $color_withe;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6em;
        font-weight: 600;
        line-height: 1;
        border-radius: 50%;
        margin-left: 1.09em;
        flex: none;
    }

    &__today {
        background: #E4DDDD;
        border-radius: 0.25em;
        color: #5B6271;
        font-size: 0.8125em;
        line-height: 1.45;
        padding: 0.125em 0.4375em;
        margin-left: 0.6875em;
    }

}

.asideRight {
    &__title {
        font-size: 1.5em;
        line-height: 1.45;
        margin-bottom: 0.4em;
    }

    &__body {
        background: $color_withe;
        padding: 1.5em 1.25em 2.25em;
        width: 23.5em;
        border: 0.0625em solid #F7F7F7;
        box-shadow: 0 1.5625em 2.8125em -1.9375em rgba(0, 0, 0, 0.1);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.27;

        li {
            margin-bottom: 1em;
        }

        a {
            font-size: 1.125em;
        }
    }

    &__footer {
        margin-top: 2.25em;
    }

}

.subjectList {
    &__item {
        margin-bottom: 20px;

        &.open {
            .subjectList {
                &__head {
                    color: $color_primary;

                    &:after {
                        content: $icon_minus;
                    }
                }
            }
        }
    }

    &__head {
        background: #F3F3F3;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.45;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #5B6271;
        padding: 0.4em 0.8em 0.4em 1.1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:after {
            font-family: 'rsdo';
            content: $icon_plus;
            font-size: 0.8em;
            font-weight: 300;
            color: #5B6271;
            line-height: 1;
        }

        &:hover {
            color: $color_primary;
        }
    }

    &__body {
        display: none;
        border: 1px solid #F7F7F7;
        border-bottom: 0;
        border-top: 0;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;
        // font-weight: 300;

        thead {
            th {
                color: #5B6271;
                font-weight: 300;
                font-size: 0.875em;
                text-align: left;
                border-bottom: 0.35em solid #F7F7F7;
                padding: 0.5em 1.25em;

                &:nth-child(n+2) {
                    border-left: 1px solid #F7F7F7;
                }
            }
        }

        tbody {
            td {
                padding: 0.7em 1.2em;
                border-bottom: 1px solid #F7F7F7;
                height: 5.2em;
                vertical-align: top;

                &:nth-child(n+2) {
                    border-left: 1px solid #F7F7F7;
                }

                &.thin {
                    font-weight: 300;
                }
            }
        }
    }

}

.skipedList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875em;
    margin-bottom: 1.875em;

    &__item {
        background: $color_withe;
        border: 1px solid #F7F7F7;
        box-sizing: border-box;
        box-shadow: 0 25px 45px -31px rgba(0, 0, 0, 0.1);
        padding: 0.76em 1.2em 1.4em;
        width: calc(33.3% - 1.875em);
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.45;
        margin-bottom: 0.1em;
    }

    &__sub {}

    &__link {
        margin-top: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.93em;

        a {
            text-decoration: none;
        }
    }

    &__more {
        margin-top: 1.9em;
    }

}

.author {
    display: flex;
    margin: 1.875em 0;
    line-height: 1.25;

    &__photo {
        flex: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 14px;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {}

    &__bage {
        display: inline-block;
        font-size: 11px;
        color: #919191;
        background: #F3F3F3;
        padding: 0.1em 0.5em;
    }

    &__name {
        font-size: 17px;
    }

    &__prof {
        font-size: 14px;
        color: #A2A4AA;
    }

}

.exercise {
    &__item {
        padding-bottom: 30px;

        &:not(:last-child) {
            margin-bottom: 30px;
            border-bottom: 1px solid #F7F7F7;
        }
    }

    &__title {
        font-size: 18px;
        margin-bottom: 0.0164em;
        font-weight: 600;
    }

    &__text {
        color: #5B6271;
        max-width: 68.75em;
        margin-bottom: 0.6875em;
    }

    &__link {
        line-height: 1.265;
        font-weight: bold;
        font-size: 0.875em;
        text-transform: uppercase;
        letter-spacing: 0.04em;

        a {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
        }

        .icon_caret_right {
            font-size: 0.6em;
            margin-left: 0.6em;
        }

    }

}

.startTask {
    &__head {
        font-size: 1.125em;
        line-height: 1.625em;
        color: #5B6271;
        margin-bottom: 1.81em;
    }

    &__props {
        background: $color_withe;
        padding: 1.04em 1.875em;
        margin-bottom: 2.71em;
        max-width: 34.89em;
    }

    &__row {
        display: flex;
        margin-bottom: 0.4375em;
    }

    &__label {
        font-size: 1.125em;
        color: #5B6271;
        width: 12.6em;
    }

    &__prop {
        font-weight: 600;
        font-size: 1.125em;
    }

    &__action {}

}

.taskBox {
    box-shadow: 0 1.5625em 2.8125em -1.9375em rgba(0, 0, 0, 0.1);
    padding: 1.875em;
    background: $color_withe;

    &__head {
        display: flex;
        align-items: center;
    }

    &__steps {
        background: #F3F3F3;
        margin-right: 1.39em;
        padding: 0.44em 1.04em;
        font-size: 0.875em;
        color: #888;

        b {
            font-weight: 600;
        }
    }

    &__balls {
        color: #5B6271;
    }

    &__body {
        padding: 1.3em 0;
    }

    &__question {
        font-size: 1.5em;
    }

    &__resp {
        margin: 1.75em 0 2em;

        .form__check {
            margin-bottom: 1.2em;
        }
    }

    &__footer {
        background: #F7F7F7;
        margin: 0 -1.875em -1.875em;
        padding: 2.125em 1.875em;

        .btn {
            margin-right: 2em;

            &_thin {
                width: 100%;
                max-width: 15.7em;
            }
        }
    }

}

.dateSwicher {
    display: flex;
    align-items: center;
    color: #8E939E;

    a {
        color: #8E939E;
        text-decoration: none;
        font-size: 0.6875em;
    }

    &__date {
        margin: 0 1.5625em;
    }
}
