/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin'; // Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900); // Mixin for include fonts
@include font-face("ArialMT", 'fonts/CenturyGothic', normal, normal);
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/icons';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';

@import 'components/page';
@import 'components/aside';
@import 'components/submenu';
@import 'components/childList';
@import 'components/collapseAll';
@import 'components/collapseList';
@import 'components/asideRight';
@import 'components/subjectList';
@import 'components/skipedList';
@import 'components/author';
@import 'components/exercise';
@import 'components/startTask';
@import 'components/taskBox';
@import 'components/dateSwicher';

@import 'components/studentCourseLk';
@import 'components/rezultTable';
@import 'components/whiteBox';
@import 'components/rezultList';
@import 'components/taskRezult';
@import 'components/table';

.singleSort {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
    color: #5B6271;
    font-size: 0.8125em;

    &__label {
        flex: none;
        margin-right: 1em;
    }

    &__prop {
        position: relative;
    }

    &__current {
        padding: 0.625em;
        background: $color_withe;
        border: 0.0625em solid #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 13.1em;
        cursor: pointer;

        &:after {
            font-family: 'rsdo';
            content: $icon_caret_down;
            font-size: 0.4em;
            margin-left: 2.5em;

            .open & {
                transform: rotate(180deg);
            }
        }
    }

    &__drop {
        background: $color_withe;
        position: absolute;
        min-width: 100%;
        left: 0;
        display: none;

        .open & {
            display: block;
        }

    }

    &__item {
        display: block;
        border-bottom: 0.0625em solid #F7F7F7;
        text-decoration: none;
        color: inherit;
        padding: 0.625em;

        &:hover {
            background: $color_primary;
            color: $color_withe;
        }
    }
}
