// Breadcrumb ==================================================================

.breadcrumb {
	display: none;

	@media (min-width: 768px) {
		margin: 0 0 1.5625em;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		li {
			display: inline-block;
			display: flex;
			align-items: center;

			&:not(:first-child) {
				&:before {
					content: '•';
					font-size: 1.3em;
					display: inline-block;
					line-height: 1;
					margin: 0 0.2em;
					color: rgba(29, 29, 27, 0.5);
				}
			}

			&:last-child {
				a {
					cursor: default;
					text-decoration: none;

					&:hover {
						text-decoration: none;
					}
				}
			}

			a {
				color: #929498;
				font-size: 0.8125em;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
