/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	padding: 2em 1.2em;
	margin-top: 2.05em;
	// background-color: $color_withe;
	border-top: 0.0625em solid #F7F7F7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-weight: 300;
	font-size: 1.2em;

	@media (min-width: 768px) {
		padding: 2em 1.875em;
		flex-direction: row;
		font-size: 1em;
	}

	&__left {
		font-size: 0.75em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		flex-wrap: wrap;
		gap: 1.5em;

		@media (min-width: 768px) {
			flex-wrap: nowrap;
			max-width: 61.9em;
			gap: 1em;
		}
	}

	&__logo {
		color: #5B6271;
		font-size: 1.15em;
		font-weight: 500;
	}

	&__copy {
		color: #5B6271;

	}

	&__tel {
		color: #5B6271;
		text-decoration: none;
	}

	&__email {
		color: #1E59E1;
	}

	&__soc {
		display: flex;
		align-items: center;
		margin-top: 2em;

		@media (min-width: 768px) {
			margin-top: 0;
		}

		a {
			text-decoration: none;
			color: #C9C9C9;
			font-size: 1.3em;
			margin-left: 0.6em;

			&:hover {
				color: #999;
			}
		}
	}

}
