// Main wrappers =====================================

body {
	display: flex;
	font-size: 0.875em;
	height: auto;
	min-height: 100%;
	background: #FCFCFC;

	@media (min-width: 768px) {
		// font-size: calc(.012 * 100vw + 0px);
	}

	@media (min-width: 1200px) {
		font-size: 1em;
		// font-size: calc(.00838 * 100vw + 0px);
	}

	@media (min-width: 1600px) {}

}

a {
	color: $color_primary;

	&:hover {
		text-decoration-color: transparent;
		color: #204DB4;
	}

	&:active {
		color: #487CF5;
	}
}

.muted {
	color: #5B6271;
}

.danger {
	color: #0CBF29;
}

.thin {
	font-weight: 300;
}

.bold {
	font-weight: 600;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	// padding-bottom: $footer_height;
	// @extend %clear_a;

	&__content {
		padding: 1.2em;
		flex-grow: 1;

		@media (min-width: 768px) {
			min-width: 0;
			padding: 1.5em 1.875em;
		}
	}
}

.container_center {
	max-width: $container_width;
	padding: 0 1em;
	margin-left: auto;
	margin-right: auto;
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}
