footer.footer
    .footer__left
        .footer__logo ООО ЦДО
        .footer__copy РСДО All rights reserved 2021
        a.footer__tel(href="tel: 8 800 100 34 06") 8 800 100 34 06
        a.footer__email(href="mailto: info@cdo-global.ru") info@cdo-global.ru


    .footer__soc
        a.icon_facebook(href="" target="_blank")
        a.icon_vk(href="" target="_blank")
        a.icon_twitter(href="" target="_blank")
        a.icon_insta(href="" target="_blank")
