header.header
    .header__left
        .header__title Главная
        .header__sub
            .childList.js-drop
                .childList__current
                    .childList__item
                        i.icon_kid
                        | Милонов А. А.
                .childList__drop.js-drop-list
                    a.childList__item.selected(href="")
                        i.icon_kid
                        | Милонов А. А.
                    a.childList__item(href="")
                        i.icon_kid
                        | Милонов Б.А.
                    a.childList__item(href="")
                        i.icon_kid
                        | Милонова В.А.
    .header__right
        .header__notice
            a.icon_search(href="")
            a.icon_chat(href="")
            a.icon_bell(href="")
        .header__user.js-drop
            .header__userPhoto
                img(src="img/ava.png", alt="")
            .header__userDescr
                .header__userName Светлана Абрамчук
                .header__userInfo Родитель (детей 3)
            .header__userDrop.js-drop-list
                a.header__userLink(href="")
                    i.icon_exit 
                    span Выход из аккаунта
