extends layout/layout.pug

block content
    .page__title Ученик
    ul
        li
            a(href="home.html") Главная
        li
            a(href="student-course.html") Страница курса
        li
            a(href="student-course-start.html") Страница перед началом тестирования
        li
            a(href="student-test.html") Страница тестирования
        li
            a(href="student-course-rezult.html") Страница результата тестирования
        li
            a(href="student-course-end.html") Страница окончания теста
