extends layout/layout.pug

block variables
    - pageName = "Справочная информация";

block content
    +breadcrumb(['Главная', 'Справочная информация'])
    .page__content
        .page__body
            .collapseList
                each item, i in ['Как пользоваться порталом?', 'Как выставлять оценки?', 'Где показывается рейтинг учеников?', 'Как открыть календарь?', 'Как поставить предмет в календарь?', 'Как узнать контакты родителей учеников?', 'Как сменить пароль?', 'Лицензионное соглашение']
                    .collapseList__item(data-collapse-wrapper="")
                        .collapseList__head(data-collapse=i)
                            .collapseList__title
                                .collapseList__name=item
                        .collapseList__body(data-collapse-body=i)
                            .thin Здесь будет текстовое описание, которое может быть абсолютно любой длинный и полностью отвечает на вопрос, котороый задач в заголовке этого блока. Здесь будет текстовое описание, которое может быть абсолютно любой длинный и полностью отвечает на вопрос, котороый задач в заголовке этого блока. Здесь будет текстовое описание, которое может быть абсолютно любой длинный и полностью отвечает на вопрос, котороый задач в заголовке этого блока. Здесь будет текстовое описание, которое может быть абсолютно любой длинный и полностью отвечает на вопрос, котороый задач в заголовке этого блока.

        .page__aside
            .asideRight
                .asideRight__body
                    .asideRight__title Нет нужного ответа? <br>Задайте нам свой вопрос
                    .asideRight__textfield
                        textarea(placeholder="Напишите свой вопрос")
                    .asideRight__footer
                        a.btn.btn_border.btn_fullwidth(href="") Задать свой вопрос
