.aside {
    flex: none;
    width: 18.75em;
    background: $color_withe;
    border-right: 0.125em solid #F7F7F7;

    &__head {
        border-bottom: 0.0625em solid #F7F7F7;
        height: 8.44em;
        display: flex;
        align-items: center;
        padding: 2.88em 3.75em 1.875em 3.95em;
    }

    &__nav {
        padding: 1.7em 0;
    }
}
