.dateSwicher {
    display: flex;
    align-items: center;
    color: #8E939E;

    a {
        color: #8E939E;
        text-decoration: none;
        font-size: 0.6875em;

        &:hover {
            color: #1E59E1;
        }
    }

    &__date {
        margin: 0 1.5625em;
    }
}
