.progressGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.375em;

    &__item {
        background-color: $color_withe;
        border: 0.0625em solid #F7F7F7;
        box-shadow: 0 1.563em 2.813em -1.938em rgba(0, 0, 0, 0.1);
        padding: 0.8125em 1.25em 1.9375em;
        flex-grow: 1;
        min-width: 15.625em;

        @media (min-width: 768px) {
            // min-width: inherit;
            min-width: 22.63em;
            width: calc(25% - 1.375em);
            flex-grow: 0;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        font-size: 1.25em;
        font-weight: 500;
        margin-bottom: 0.0625em;
    }

    &__subject {
        margin-right: 0.6em;
    }

    &__img {
        width: 1.75em;
        height: 1.75em;
        flex: none;
    }

    &__rating {
        font-weight: 300;
        color: #5B6271;
        margin-top: 1em;

        @media (min-width: 768px) {
            font-size: 0.875em;
            margin-top: 0;
        }
    }

    &__bottom {
        margin-top: 1.875em;
    }

    &__link {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.04em;
        font-size: 0.875em;

        &:after {
            font-family: 'rsdo';
            content: $icon_caret_right;
            font-size: 0.8em;
            margin-left: 0.5em;

        }

        &:hover {
            color: #3E73EF;
        }
    }

}
