.startTask {
    &__head {
        font-size: 1.125em;
        line-height: 1.625em;
        color: #5B6271;
        margin-bottom: 1.81em;
    }

    &__props {
        background: $color_withe;
        padding: 1.04em 1.875em;
        margin-bottom: 2.71em;
        max-width: 34.89em;
    }

    &__row {
        display: flex;
        margin-bottom: 0.4375em;
    }

    &__label {
        font-size: 1.125em;
        color: #5B6271;
        width: 12.6em;
    }

    &__prop {
        font-weight: 600;
        font-size: 1.125em;
    }

    &__action {}

}
