.startTask {
    &__head {
        line-height: 1.625em;
        color: #5B6271;
        margin-bottom: 1.81em;

        @media (min-width: 768px) {
            font-size: 1.125em;
        }
    }

    &__props {
        background: $color_withe;
        margin-bottom: 2.71em;

        @media (min-width: 768px) {
            max-width: 34.89em;
            padding: 1.04em 1.875em;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 0.4375em;
    }

    &__label {
        color: #5B6271;
        padding-right: 1em;

        @media (min-width: 768px) {
            font-size: 1.125em;
            width: 12.6em;
        }
    }

    &__prop {
        font-weight: 600;

        @media (min-width: 768px) {
            font-size: 1.125em;
        }
    }

    &__action {}

}
